/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. sign up
    6. about us
    7. see more
    8. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.container {
    width: 375px;
    margin: 0 auto;
}

body {
font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}


/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class because we will use multiple grids */

.grid {
    display: grid;
    padding-right: 1px; 
    grid-template-columns: repeat(4, 80px);
    grid-column-gap: 18px;
}

/* 3. ---Header--- */

#main-header{
    
    width: 375px;
    height: 130px;
    background-color: #E64584;
    display: flex;
    justify-content: space-around;
}


#header-logo {

    width: 189px;
    margin-top: 40px;
}

#header-hamburger {
    position: relative;
}

#header-hamburger img {
    width: 58px;
    height: 35px;
    margin-top: 50px;
    left:200px;

}

#header-hamburger ul{
    
    width: 375px;
    height: 585px;
    background-color: #E64584;
    position: absolute;
    left:-285px;
    top:100px;

}

#header-hamburger li a{
    font-size: 40px;
    padding-left: 120px;
    line-height: 120px;
    color: white;
    font-family: 'Montserrat';
}

#header-hamburger:hover ul{
    display: block;

}

#header-hamburger li a:hover {
    color: #2E01A7;
    font-weight: 600px;
    text-decoration: underline;
}


/* 4. ---Main Hero Image--- */

#hero {
    width: 375px;
    height: 580px;
    position: relative;
}

.hero-images {
    width: 375px;
    height: 580px;
    margin: 0 auto;
    /* overflow: hidden; */
}

#hero-text h2{
    position: absolute;
    top:10px;
    left: 20px;
    color: white;
    font-size:38px;
    font-weight: 500px;
    letter-spacing: 5px;
}


/* 5.---sign up--- */


#sign-up {
    width: 375px;
    height: 370px;
    background-color: #E64584;
    text-align: center; 
}

#sign-up p{
    color: white;
    font-size: 40px;
    font-weight: 500px;
    padding-top: 20px;
    letter-spacing:5px;
    line-height: 50px;
}

#sign-up button {
  width: 253px;
    height: 74px;
    background-color:white;
    color: #E64584;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;

}

#sign-up button:hover {
    background-color: #429377;
    color: white;
}


/* 6. ---about us--- */

#about-us {
    margin-top: 20px;
}

#about-us h2 {
    font-size: 35px;
    font-weight: 500px;
    padding-bottom: 20px;
}

#about-us img {
    width: 375px;
    height: 424px;
    border-radius: 30%;

}

#about-us #about-us-text{
    font-size: 20px;
    color: #E64584;
    margin: 0 auto;

}

#about-us #about-us-text #I {
    font-size: 30px;
    font-weight: 800px;
    padding: 0px 20px;
}

#about-us #about-us-text .bold {
    font-size: 20px;
    font-weight: 600px;
    line-height: 30px;
    margin-top: 30px;
}

#about-us-text p{
    font-size: 15px;
    font-weight: 300px;
    line-height: 30px;
    padding: 20px 20px;
}

/* 7. ---see more--- */

#seemore {
    width: 376px;
    height: 720px;
    margin-top: 60px;
    background-color: #E64584;
    color: white;

}

#seemore img {
    padding-left: 3px;
    width: 360px;
    height: 450px;
    margin-top: 10px;
    margin-left: 5px;
}

#seemore #seemore-text h2 {
    grid-column: 1/-1;
    font-size: 26px;
    font-weight: 500px;
    margin: 20px 20px;
    letter-spacing: 3px;

}

#seemore #seemore-text p {
    grid-column: 1/-1;
    font-size: 12px;
    font-weight: 400px;
    line-height: 20px;
    margin: 0px 20px;
    letter-spacing: 3px;
}

#seemore #seemore-text button {
    grid-column: 2/3;
    width: 215px;
    height: 45px;
    font-size: 20px;
    grid-column: 2/3;
    background-color:#F8B851;
    color:white;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: -10px;
}


/* 8. ---Footer--- */

#footer-Map {
    width: 100%;
    height: 140px;
    background-color: #429377;
    color: white;
    padding-top: 30px;
    
}

#footer-Map h2 {
font-size: 12px;
font-weight: 500px;
margin-bottom: 30px;
}

#footer-Map ul li {
    display: block;
    font-size: 8px;
    margin-top: 5px;
}

#footer-Map ul li a {
color: white;
}

#footer-Map #map1 {
    grid-column: 1/1;
}


#footer-Map #map2 {
    grid-column: 2/2;
}


#footer-Map #map3 {
    grid-column: 3/3;
}


#footer-Map #map4 {
    grid-column: 4/-1;
}

#map1 ul li a:hover {
    color: #2E01A7;
    text-decoration: underline #2E01A7;
}

#map2 ul li a:hover {
    color: #2E01A7;
    text-decoration: underline #2E01A7;
}

#map3 ul li a:hover {
    color: #2E01A7;
    text-decoration: underline #2E01A7;
}

#map4 ul li a:hover {
    color: #2E01A7;
    text-decoration: underline #2E01A7;
}

#policy-Con {
    font-family: Josefin Sans;
    width: 100%;
    height: 80px;
    background-color: #265847;
    color: white;
}

#policy-Con #policy-copy {
    width: 289px;
    height: 7px;
    font-size: 7px;
    color: #FAF7F7;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
 
}


#policy-Con #policy-copy li a{
    padding-left: 3px;
    color: white;

}

#policy-Con #policy-copy li a:hover {
    color: #F8B851;
    text-decoration: underline #F8B851;
    font-weight: 400px;
}

#policy-Con #footer-sns {
    grid-column: 4/-1;

}

#policy-Con #footer-sns ul {
    display: flex;
    justify-content: space-between;
}

#footer-sns img {
    width: 18px;
    height: 18px;
    padding-left: 8px;
    padding-top: 10px;
}

#policy-Con #top-scroll {
    width: 50px;
    height: 15px;
    grid-column: 2/3;
    position: relative;
    padding-top: 10px;
    margin-left: 75px;
    border-color: none;
 
}


#policy-Con #top-scroll p{
    position: absolute;
    left: 13px;
    bottom: 5px;
    top:12px;
}
