/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main
    5. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.container {
    width: 1920px;
    margin: auto 0;
}

a{
    text-decoration: none;

}

body {
    font-family: 'Montserrat', sans-serif;
}
    

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class because we will use multiple grids */

.grid {
    display: grid;
    padding-right: 4px; 
    grid-template-columns: repeat(12, 145px);
    grid-column-gap: 16px;
}

/* 3. ---Header--- */

/* header{
    width: 100%;
    height: 138px;
    padding-left: 5px;   
} */

#main-header{
    width: 1920px;
    height: 140px;
    background-color: #E64584;
}

ul li {
    display: inline-block;
}

#header-logo {
    width: 315px;
    grid-column: 1/2;
    margin-top: 25px;
    margin-left: 15px;
}

#header-nav {
    width: 500px;
    height: 22px;
    grid-column: 4/6;
    margin-top: 90px;
    font-size: 20px;
}

#header-nav li a{
    padding-left: 50px;
    color: white;
    font-family: 'Montserrat';
}

#header-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-icons {
    grid-column: 11/-1;
    margin-top: 85px;
    margin-left: -20px;
}

#header-icons img{
    width: 34px;
    height: 34px;
}

/* 4. ---Main--- */

#sign-up {
    margin: 100px 145px 100px 145px;
}

#email h2 {
    font-size: 100px;
    font-weight: 700;
    padding-left: 450px;
    color: #E30C5F;
}

#email p {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 140%;

}

#sign-up #email-box {
    width: 1543px;
    height: 110px;
    border: 1px solid #E30C5F;
    border-radius: 50px;
    margin-top: 20px;
}

#email #send-code{
    width: 620px;
    height: 110px;
    border: solid #E30C5F;
    border-radius: 50px;
    background-color: #E30C5F;
    color: white;
    margin-top: 30px;
    text-align: center;
}

#email #send-code p {
    font-size: 40px;
    font-weight: 500px;
}

#sign-up h3 {
    font-size: 30px;
    font-weight: 500;
}

#personal-info {
    margin-top: 100px;
    margin-bottom: 30px;

}

#personal-info .box{

    width: 757px;
    height: 110px;
    border: 1px solid #E30C5F;
    border-radius: 50px;
    margin-top: 20px;
}

#personal-info #first-name {
    grid-column: 1/5;
}

#personal-info #last-name {
    grid-column: 6/10;
}

#personal-info #password {
    margin-top: 70px;
}

#password p {
    font-size: 30px;
    margin-top: 20px;
}

#term input {
    grid-column: 2/2;
}

#term p {
    grid-column: 3/10;
    font-size: 30px;
    font-weight: 500px;
    padding-top: 20px;
}

#submit {
    margin-top: 60px;
    margin-left: 450px;
}

#submit #submit-btn {
    width: 396px;
    height: 110px;
    border-radius: 50px;
    background-color:#E30C5F;
    border: 1px solid #E30C5F;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
}

#submit #log-in {
    display: inline-block;
}

#submit p {
    font-size: 40px;
    font-weight: 500px;
    padding-top: 10px;
    text-decoration: underline;
}

/* #submit a {
    display: inline-block;
} */


/* 5. ---Footer--- */


#footer-Map {
    width: 100%;
    height: 560px;
    background-color: #429377;
    color: white;
    padding-top: 100px;
}

#footer-Map h2 {
font-size: 40px;
font-weight: 500px;
margin-bottom: 30px;
}

#footer-Map ul li {
    display: block;
    font-size: 30px;
    margin-top: 30px;
}

#footer-Map ul li a {
color: white;
}

#footer-Map #map1 {
    grid-column: 2/4;
}


#footer-Map #map2 {
    grid-column: 4/7;
    margin-left: 100px;
}


#footer-Map #map3 {
    grid-column: 8/8;
}


#footer-Map #map4 {
    grid-column: 10/-1;
}

#policy-Con {
    width: 100%;
    height: 178px;
    background-color: #265847;
    color: white;
}

#policy-Con #policy-copy {
    grid-column: 2/8;
    font-size: 25px;
    color: #FAF7F7;
    padding-top: 70px;
 
}

#policy-Con #policy-copy li a{
    padding-left: 20px;
    color: white;

}


#policy-Con #footer-sns {
    grid-column: 9/10;
    width: 600px;
 
}

#policy-Con #top-scroll {
    grid-column: 11/11;
    position: relative;
    padding-top: 70px;
 
}

#policy-Con #top-scroll p{
    position: absolute;
    left: 35px;
    bottom: 140px;
    margin-bottom: -73px;

}


#footer-sns img {
    width: 35px;
    height: 35px;
    padding-left: 35px;
    padding-top: 70px;
}
